{% extends "page/base.twig" %}

    {% block title %}{{ page.get_title() }}{% endblock %}

    {% block content %}
        <div class="toolset-dashboard">
            {% if table_toolset %}
                {{ table_toolset|raw }}
            {% else %}
                <p>{{ labels.msg_no_custom_post_types }}</p>
            {% endif %}

            {# Add new post type #}
            <p>
                <a class="button-primary types-button" href="{{ admin_url }}admin.php?page=mncf-edit-type">{{ labels.create_type }}</a>
            </p>

            {# Table with 3rd party post types #}
            {% if table_3rd %}
                <div style="height:20px;"></div>
                {{ table_3rd|raw }}
            {% endif %}

            {# Table with mtaandao post types #}
            {% if table_mtaandao %}
                <div style="height:20px;"></div>
                {{ table_mtaandao|raw }}
            {% endif %}
        </div>
    {% endblock %}

